/* Fancy Scroll */
::-webkit-scrollbar {
  width: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  }
  
::-webkit-scrollbar-track {
  background: white;
  }
  
::-webkit-scrollbar-thumb {
  background: #888;
  }
  
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  width: 20px;
  }

img.chicken:hover {
  animation-name: chik;
  animation-iteration-count: 7;
  animation-duration: 50ms;
}

@keyframes chik {
  33% {
    rotate: 15deg;
  }
  66% {
    rotate: -15deg;
  }
}

.almond {
  background-color: blanchedalmond;
}

.white {
  background-color: antiquewhite;
}

.almond, .white {
  border-width: 10px;
}

.button-almond {
  color: #fff;
  background-color: antiquewhite;
  border-color: black;
}

.scale:hover {
  animation-name: scale;
  animation-timing-function: linear;
  animation-duration: 50ms;
  background-color: white;
  border-color: white;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    scale: 100%;
  }
  to {
    scale: 110%;
  }
}

.scale:active {
  animation-name: scalea;
  animation-timing-function: linear;
  animation-duration: 50ms;
}

@keyframes scalea {
  from {
    scale: 100%;
  }
  to {
    scale: 80%;
    rotate: 10deg;
  }
}

.testv {
  border-width: 10px;
}